black
faker~=26.0.0
flake8
ffmpeg-python
ipython
isort
jupyterlab
mkdocs
notebook
numpy<2.0.0
pandas~=2.2.2
pip
python-dotenv~=1.0.1
scikit-learn
pydantic~=2.8.2
pytest~=8.2.2
gdown~=5.2.0
tqdm~=4.66.4
librosa~=0.10.2.post1
torch~=2.3.1
torchaudio~=2.3.1
whisper
